<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

    <div class="uk-container uk-card uk-card-default uk-card-hover my-5 py-5">
        <h1>Services Offered</h1>
        <div>
            <div uk-grid>
                <div class="uk-width-auto@m">
                    <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">C# Programming</a></li>
                        <li><a href="#">Digital Design</a></li>
                    </ul>
                </div>
                <div class="uk-width-expand@m">
                    <ul id="component-tab-left" class="uk-switcher">

                        <!-- BEGIN SECTION : WEB DESIGN -->
                        <li>
                            <article class="uk-article">
                                <h2>Web Design</h2>
                            
                                <p class="uk-text-lead">Bootstrap | uiKit | Javascript | jQuery | MEAN</p>

                                <div class="uk-panel uk-margin-small">
                                    <img class="uk-align-left uk-margin-remove-adjacent" src="/Assets/images/webDev.jpg" width="485px" height="360px" alt="First Project">
                                    <p class="text-justify">
                                        Here, we were tasked with the making of a website a fake business. Although, we were instructed to use multiple pages to construct the site, I felt that a single-page one would more modern. To style it, I used uikit, however some Bootstrap was used, namely the utility classes to enhance the layout.
                                    </p>
                                </div>   
                            </article>
                        </li>
                        <!-- END SECTION : WEB DESIGN -->
                        <!-- BEGIN SECTION : C# PROGRAMMING -->
                        <li>
                            <article class="uk-article">
                                <h2>C# General Programming</h2>
                            
                                <p class="uk-text-lead">Winforms | MSSQL</p>

                                <div class="uk-panel uk-margin-small">
                                    <img class="uk-align-left uk-margin-remove-adjacent" src="/Assets/images/windows.jpg" width="485px" height="360px" alt="First Project">
                                    <p class="text-justify">
                                        Here, we were tasked with the making of a website a fake business. Although, we were instructed to use multiple pages to construct the site, I felt that a single-page one would more modern. To style it, I used uikit, however some Bootstrap was used, namely the utility classes to enhance the layout.
                                    </p>
                                </div>   
                            </article>
                        </li>
                        <!-- END SECTION : C# PROGRAMMING -->
                        <!-- BEGIN SECTION : DIGITAL DESIGN -->
                        <li>
                            <article class="uk-article">
                                <h2>Digital Design</h2>
                            
                                <p class="uk-text-lead">Adobe Photoshop | Adobe Illustrator</p>

                                <div class="uk-panel uk-margin-small">
                                    <img class="uk-align-left uk-margin-remove-adjacent" src="/Assets/images/adobe.jpg" width="485px" height="360px" alt="First Project">
                                    <p class="text-justify">
                                        Here, we were tasked with the making of a website a fake business. Although, we were instructed to use multiple pages to construct the site, I felt that a single-page one would more modern. To style it, I used uikit, however some Bootstrap was used, namely the utility classes to enhance the layout.
                                    </p>
                                </div>  
                            </article>
                        </li>
                        <!-- END SECTION : DIGITAL DESIGN -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %> 